<section class="call-action section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="cta-trial text-center">
          <h3>Are You Ready To Get Started?</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod<br> Lorem ipsum dolor sit amet, consectetuer</p>
          <a href="#" class="btn btn-common btn-effect">Purchase Now!</a>
        </div>
      </div>
    </div>
  </div>
</section>